@font-face {
    font-family: 'Adoria';
    src: local('Adoria'), url(./fonts/adoria.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'Loveleaves';
    src: local('Loveleaves'), url(./fonts/loveleaves.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: #D8DAD3;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    color: #F3F7FB;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background: rgb(31, 93, 47);
    background: linear-gradient(121deg, rgba(31, 93, 47, 1) 0%, rgba(0, 0, 0, 1) 51%, rgba(31, 93, 47, 1) 86%);
}

.padding {
    scroll-snap-align: start;
    height: 6vh;
}

.content {
    height: 100vh;
}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 6vh;
    transition: 1s;
}

.sticky {
    /* background-color: rgb(30, 91, 46, 95%); */
    background-color: #1B1716;
    transition: 1s;
    /* border-radius: 0 0 40px 40px; */
}

.navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container a {
    text-decoration: none;
    padding: 10px 20px;
    color: #8D98A7;
    font-size: 18px;
    transition: 0.5s;

    font-family: 'loveleaves';
}

.navbar-container a:hover {
    color: #F3F7FB;
    transition: 0.5s;

}

#register_button {
    background-color: inherit;
    border: none;
}

#register_button a:hover {
    background-color: #1F5D2F;
    border-radius: 4px;
}

#mlh-trust-badge {
    align-self: flex-start;
    justify-self: flex-start;
}


#intro {
    background-image: url("./img/intro_top_left.png"), url("./img/into_top_right.png"), url("./img/intro_bottom_right.png"), url("./img/intro_mid_left.png"), url("./img/intro_mesh2.png");
    background-repeat: no-repeat;
    background-position: top left, top right, bottom right, bottom 20px left, center center;
    background-size: auto, auto, auto, auto, cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

#intro-txt-1 {

    background-image: url("./img/logo.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    font-family: 'Loveleaves';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    color: white;
    white-space: nowrap;

    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#intro-txt-2 {
    font-family: "Loveleaves";
    font-size: 2.5em;
}

.titles {
    height: fit-content;
    font-size: 7rem;
    font-family: 'Loveleaves';
}

#about {
    background-image: url("./img/intro_title_top_left.png"), url("./img/about_mesh2.png");
    background-repeat: no-repeat;
    background-position: top left, center center;
    background-size: auto, cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

}

#about-title {

    color: white;
    font-size: 7rem;
    font-family: 'Loveleaves';
    height: fit-content;
}

.description {
    max-width: 80%;
    color: white;
    display: flex;
    justify-content: center;
}

#about-description {
    width: 100%;
    margin: 0;

    font-family: 'Roboto Mono';

    text-align: center;
    height: fit-content;
    font-size: 2rem;
    line-height: 2rem;
    max-width: 90%;
    min-width: 60%;

}



#sponsors {
    background-image: url("./img/sponsors_mesh.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#speakers {
    background-image: url("./img/speakers_mesh.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#schedule {
    /* background-image: url("./img/schedule_mesh.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* --------------- FAQ ---------------- */
#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: initial;
}

#faq-title {
    height: 20%;
}

#faq-title-text {
    padding: 0;
    margin: 0;
}

.grid-cont {
    height: 80%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 7%;
    overflow: hidden;
}

.wrap-collabsible {
    z-index: 1;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #4c7889;
    cursor: pointer;
    border-radius: .625rem;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 100%;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: #426077;
    border-bottom: 1px solid #4c7889;
    border-bottom-left-radius: .625rem;
    border-bottom-right-radius: .625rem;
}

.collapsible-content p {
    padding: 20px;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

#top-btn:hover {
    background-color: rgba(255, 255, 255, 20%);
    transition: 0.3s ease background-color;
}

#sched-table table {
    width: 80%;
    margin: 0 auto;
}


/* --------------- FAQ ---------------- */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 8px;
}

#mapping {
    width: 100%;
}

#map-iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#contact-card {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 8px 8px 0;
    width: 50%;
    z-index: 9;
}

#contact-card-left {}

#contact-card-right {}