@font-face {
    font-family: 'Adoria';
    src: local('Adoria'), url(./fonts/adoria.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'Loveleaves';
    src: local('Loveleaves'), url(./fonts/loveleaves.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: #D8DAD3;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    /* background-color: #D8DAD3; */
    background: rgb(21, 130, 107);
    background: linear-gradient(121deg, rgba(21, 130, 107, 1) 0%, rgba(40, 57, 78, 1) 39%, rgba(21, 130, 107, 1) 86%, rgba(21, 130, 107, 1) 100%);
}

#navbar {
    position: fixed;
    background-color: #091e05;
    width: 100%;
    top: 0;
    height: 6vh;

}

.navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container a {
    text-decoration: none;
    padding: 10px 20px;
    color: #426077;
    font-size: 18px;
    transition: 0.5s;

    font-family: 'loveleaves';
}

.navbar-container a:hover {
    color: #91F9E6;
    transition: 0.5s;

}

#mlh-trust-badge {
    align-self: flex-start;
    justify-self: flex-start;
}


#intro {
    background-image: url("./img/intro_top_left.png"), url("./img/into_top_right.png"), url("./img/intro_bottom_right.png"), url("./img/intro_mid_left.png"), url("./img/intro_mesh.svg");
    background-repeat: no-repeat;
    background-position: top left, top right, bottom right, bottom 20px left, center center;
    background-size: auto, auto, auto, auto, cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

#intro-txt-1 {

    background-image: url("./img/logo.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    font-family: 'Loveleaves';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    color: white;
    white-space: nowrap;

    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#intro-txt-2 {
    font-family: "Loveleaves";
    font-size: 2.5em;
    color: white;
}

.titles {
    height: fit-content;
    color: white;
    font-size: 7rem;
    font-family: 'Loveleaves';

}

#about {
    background-image: url("./img/intro_title_top_left.png");
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

}

#about-title {

    color: white;
    font-size: 7rem;
    font-family: 'Loveleaves';
    height: fit-content;
}

.description {
    max-width: 80%;
    color: white;
    display: flex;
    justify-content: center;
}

#about-description {
    width: 100%;
    margin: 0;

    font-family: 'Roboto Mono';

    text-align: center;
    height: fit-content;
    font-size: 2rem;
    line-height: 2rem;
    max-width: 90%;
    min-width: 60%;

}



#sponsors {
    background-image: url("./img/sponsors_mid_left.png"), url("./img/sponsors_mesh.png");
    background-repeat: no-repeat;
    background-position: center left, center center;
    background-size: auto, cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#speakers {
    background-image: url("./img/speakers_top_right.png"), url("./img/speakers_center_left.png"), url("./img/speakers_bottom_left.png"), url("./img/speakers_mesh.png");
    background-repeat: no-repeat;
    background-position: top right, center left, bottom left, center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#schedule {
    background-image: url("./img/schedule_mesh.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    outline: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 8px;
}

#mapping {
    width: 100%;
}

#map-iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#contact-card {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 8px 8px 0;
    width: 50%;
    z-index: 9;
}

#contact-card-left {}

#contact-card-right {}

.padding {
    scroll-snap-align: start;
    height: 6vh;
}

.content {
    height: 94vh;
}

.upper-left {
    position: absolute;
    width: 278.51px;
    height: 405.2px;
    left: 0.49px;
    top: 15.8px;

}

.lower-left {
    position: absolute;
    width: 98.31px;
    height: 311px;
    left: -15px;
    top: 303px;

}

.lower-middle {
    position: absolute;
    width: 472px;
    height: 304.43px;
    left: 277px;
    top: 435px;
}

.lower-right {
    position: absolute;
    width: 311.24px;
    height: 376.39px;
    left: 978px;
    top: 270px;
}

.upper-right {
    position: absolute;
    width: 320.91px;
    height: 154.19px;
    left: 900.16px;
    top: 0px;

}

img {
    max-width: 100%;
    max-height: 100%;
}



/* .intro-img {
    position: absolute;
    left: 33.68%;
    right: 31.39%;
    top: 18.42%;
    bottom: 40.7%;
} */



/* #about,
#team,
#faq,
#schedule,
#contact,
#sponsors,
#speakers,
#organizing-team {
    padding: 100px -40% !important;
    z-index: 1;
    transition: 0.5s;
} */



.sponsor-img {
    width: 349px;
    height: 179px;
}

.sponsor-u-left {
    /* position: relative; */
    /* left: 60%; */
}

.sponsor-u-right {
    /* position: relative; */
    /* left: 700px; */
    bottom: 164.3px;
}

.sponsor-d-mid {
    /* position: relative; */
    /* left: 460px; */
    /* bottom: 90px */
}

.speaker-img {
    width: 177px;
    height: 203px;
}

.speaker-1 {
    /* position: relative; */
    /* left: 90px; */
    /* 70px */
}

.speaker-2 {
    /* position: relative; */
    /* left: 307px; */
    /* bottom: 264.3px; */
}

.speaker-3 {
    /* position: relative; */
    /* left: 524px; */
    /* bottom: 528px; */
}

.speaker-4 {
    /* position: relative; */
    /* left: 741px; */
    /* bottom: 792.9px; */
}

.speaker-5 {
    /* position: relative; */
    /* left: 958px; */
    /* bottom: 1057.2px; */
}

#Name-1 {
    /* position: relative; */
    /* text-align: justify; */
    /* left: 145px; */
    /* top: 50px; */
    /* color: white */
}

/* 
#Name-2 {
    position: relative;
    text-align: justify;
    left: 365px;
    top: 5px;
    color: white
}

#Name-3 {
    position: relative;
    text-align: justify;
    left: 585px;
    bottom: 40px;
    color: white
}

#Name-4 {
    position: relative;
    text-align: justify;
    left: 805px;
    bottom: 85px;
    color: white
}

#Name-5 {
    position: relative;
    text-align: justify;
    left: 1025px;
    bottom: 130px;
    color: white
} */

/* 
.rectangle-1 {
    position: relative;
    left: 15%;
    bottom: 86.5%;
    height: 80px;
    width: 900px;
    background: rgba(137, 222, 251, 0.47);
    border-radius: 40px;
} */
/* 
.rectangle-2 {
    position: relative;
    left: 15%;
    bottom: 76.5%;
    height: 80px;
    width: 900px;
    background: rgba(97, 163, 185, 0.33);
    border-radius: 40px;
}

.rectangle-3 {
    position: relative;
    left: 15%;
    bottom: 66.5%;
    height: 80px;
    width: 900px;
    background: rgba(97, 163, 185, 0.33);
    border-radius: 40px;
}

.rectangle-4 {
    position: relative;
    left: 15%;
    bottom: 56.5%;
    height: 80px;
    width: 900px;
    background: rgba(97, 163, 185, 0.33);
    border-radius: 40px;
} */

/* .schedule-s-e {
    position: relative;
    font-family: 'Times New Roman';
    font-style: normal;
    text-align: justify;
    color: white;
    font-weight: lighter;
    font-size: 16px;
    left: 47%;
} */

/* .schedule-start {
    position: relative;
    right: 28%;
    top: 64px;
    z-index: 10;
} */

/* .schedule-end {
    position: relative;
    right: 18%;
    top: 16px;
    z-index: 10;
} */

/* .schedule-event {
    position: relative;
    right: 0%;
    left: 0%;
    bottom: 33px;
    z-index: 10;
} */

/* #schedule {
    position: relative;
    bottom: 90px;
} */




/* .rectfaq-1 {
    position: relative;
    left: 5%;
    bottom: 0%;
    height: 50px;
    width: 500px;
    background: rgba(137, 222, 251, 0.47);
    border-radius: 40px;
}

.rectfaq-2 {
    position: relative;
    left: 5%;
    top: 5%;
    height: 50px;
    width: 500px;
    background: rgba(137, 222, 251, 0.47);
    border-radius: 40px;
}

.rectfaq-3 {
    position: relative;
    left: 5%;
    top: 10%;
    height: 50px;
    width: 500px;
    background: rgba(137, 222, 251, 0.47);
    border-radius: 40px;
}

.rectfaq-4 {
    position: relative;
    left: 5%;
    top: 15%;
    height: 50px;
    width: 500px;
    background: rgba(137, 222, 251, 0.47);
    border-radius: 40px;
}

.rectfaq-5 {
    position: relative;
    left: 55%;
    bottom: 32.5%;
    height: 50px;
    width: 500px;
    background: rgba(137, 222, 251, 0.47);
    border-radius: 40px;
}

.rectfaq-6 {
    position: relative;
    left: 55%;
    bottom: 27.5%;
    height: 50px;
    width: 500px;
    background: rgba(137, 222, 251, 0.47);
    border-radius: 40px;
}

.rectfaq-7 {
    position: relative;
    left: 55%;
    bottom: 22.5%;
    height: 50px;
    width: 500px;
    background: rgba(137, 222, 251, 0.47);
    border-radius: 40px;
}

.rectfaq-8 {
    position: relative;
    left: 55%;
    bottom: 17.5%;
    height: 50px;
    width: 500px;
    background: rgba(137, 222, 251, 0.47);
    border-radius: 40px;
} */